<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @work_experience.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @work_experience.to %>
</p>

<p>
  <strong>Ongoing:</strong>
  <%= @work_experience.ongoing %>
</p>

<p>
  <strong>Position:</strong>
  <%= @work_experience.position %>
</p>

<p>
  <strong>Employer name:</strong>
  <%= @work_experience.employer_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_experience.description %>
</p>

<%= link_to 'Edit', edit_work_experience_path(@work_experience) %> |
<%= link_to 'Back', work_experiences_path %>
